<div class="intro-container">
    <div class="content-wrap">
        <h1>Self-Optimization Demo Applikation</h1>
        <p>Empower your mental, physical, and emotional aspects. Unlock a better you today.</p>
        
        <p>This demo application was developed by Diyar Aydin as part of his bachelor's thesis entitled "Development and analysis of a self-optimisation support application". It was designed to answer the question of how a self-help application should be designed to help users achieve their personal goals and improve their quality of life. The focus of the project is on 3 aspects of self-optimisation, namely mental, physical and productive, represented by green, red and blue colours.

            Users can log their activities, create personalised activities and todos, track their moods and activities in detail, do breathing exercises, get advice from the app according to their mood, earn points and level up in different aspects of self-optimisation.
                    
             User-friendliness, personalisation features and gamification elements are aimed at engaging the user. However, it should be kept in mind that this is not a full application, but rather a prototype implementation to better understand user preferences and the effectiveness of such an application.
    </p>
        
<p>  User Test Tasks:
    -Do your daily breathing exercise
    -Create your own Todos and assign points according to the level of importance, and try to complete some of them. 
    -Record your emotional state, try to do as many activities as you can to earn points and create your own activities.
    -Try to take note of how you feel when doing the activities or entering your mood. 
    Focus on the area of self-optimisation where you feel you are lacking and try to gain more points in that area
    -Track your score for 3 days, compare your moods and activities according to their dates and try to understand the connection between them and read the notes you have entered.
    -Answer evaluation questions</p>


        <button class="start-btn" routerLink="/home">Start now</button>
    
    
    
    </div>
    <img src="https://images.unsplash.com/photo-1526137844794-45f1041f397a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Ein inspirierendes Bild zur Produktivität" class="intro-image">
  </div>
  
 
  
  
  <router-outlet></router-outlet>