<div class="intro-container">
    <div class="content-wrap">
        <h1>Self-Optimization Demo Applikation</h1>
        <p>Empower your mental, physical, and emotional aspects. Unlock a better you today.</p>
        <button class="start-btn" routerLink="/home">Start now</button>
    </div>
    <img src="https://images.unsplash.com/photo-1526137844794-45f1041f397a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Ein inspirierendes Bild zur Produktivität" class="intro-image">
  </div>
  
 
  
  
  <router-outlet></router-outlet>