<div class="container-sm">
  <div class="intro-container">
    <div class="content-wrap text-start">
      <h1 class="text-success fw-bold">Self-Optimization Demo Applikation</h1>
      <p class="text-secondary">
        Empower your mental, physical, and emotional aspects. Unlock a better
        you today.
      </p>
      <br />

      <blockquote class="blockquote">
        This demo application was developed by Diyar Aydin as part of his
        bachelor's project entitled "Development and Analysis of a Support App
        for Self-Optimization". It has been designed to answer the question of
        how a self-help application should be designed to help users achieve
        their personal goals and improve their quality of life. The focus of the
        project is on 3 aspects of self-optimisation, namely mental, physical
        and productive, represented by <span class="text-success">green </span>
        <span class="text-danger">red</span> and
        <span class="text-info">blue </span>colours.
      </blockquote>

      <br />

      <br />
      <p class="fw-bolder">Users are able to:</p>

      <ul class="list-group">
        <li class="list-group-item">Log their activities, and mods</li>
        <li class="list-group-item">
          Create, complete and delete activities and todos
        </li>
        <li class="list-group-item">
          Track their activities & modes in detail, add notes, and compare with
          dates
        </li>
        <li class="list-group-item">
          Practice guided breathing and physical exercises
        </li>
        <li class="list-group-item">
          Get advice from the app based on their mood
        </li>
        <li class="list-group-item">
          Earn points and level up in different aspects of self-optimisation
        </li>
      </ul>
      <br />

      <br />
      <p>
        The main points that distinguish this application from others are that
        it offers the user a completely personal and free experience. It allows
        users to prioritise their own preferences and create their own way of
        self-optimisation, which combined with its self-monitoring features can
        encourage users to be more self-aware and self-reflective. And it
        integrates different areas of self-optimisation with gamification
        elements on a single platform which can be used on both desktop and
        mobile. The design has been kept intimate and user-friendly to focus on
        the main use.
        <br />
        <br />
        <span class="text-danger fw-lighter">
          However, it should be kept in mind that this is not a full
          application, but rather a prototype implementation to better
          understand user preferences and the effectiveness of such an
          application. There may be some performance and loading issues.</span
        >
      </p>
      <br />

      <h2 class="fw-bolder">Recommended usage scenarios for user test:</h2>
      <br />
      <p>
        <img src="./assets/home32.png" /><br />
        Do your daily breathing exercise and take a look at Exercises<br />
        Create some Todos and assign points according to the level of<br />
        Try to complete some of Todos during the day.<br /><br />
        <img src="./assets/smile32.png" /><br />
        Record your emotional state and get some advices<br /><br />
        <img src="./assets/activity32.png" /><br />

        Activate the Info button to see more details about the listed
        activities.<br />
        Create your own activities based on your Personal Preferences.<br />
        Delete the custom activities which you dont want to do anymore<br />
        Reload the listed activities to be able to repeat them.<br />
        Try to do as many activities as you can to earn Points<br /><br />
        <img src="./assets/signal32.png" /><br />
        Analyse your levels and scores in different sef-optimisation areas and
        try to achieve more points in those ones where you are lacking.<br />
        Enter notes based on your feelings and experiences to the completed
        Activities and Moods.<br />
        Compare your moods and activities according to their dates and Notes you
        entered<br />
        Try to understand the connection between them create new Todos,
        Activities according to your conclusions<br />
        <br />
      </p>

      <button
        class="start-btn d-flex mx-auto justify-content-center mb-3"
        routerLink="/home"
      >
        Start now
      </button>
    </div>
    <br />
    <br />
    <img
      src="https://images.unsplash.com/photo-1526137844794-45f1041f397a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
      alt="Ein inspirierendes Bild zur Produktivität"
      class="intro-image"
    />
  </div>
</div>

<router-outlet></router-outlet>
