/* Stil für erledigte Aufgaben */
.done {
  text-decoration: line-through;
}
/* Allgemeiner Stil für Scroll-Container */
.scroll-container,
.big-window {
  max-height: 300px;
  overflow-y: scroll; /* Aktiviert vertikales Scrollen bei Bedarf */
  overflow-x: scroll; /* Aktiviert horizontales Scrollen bei Bedarf */
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

select {
  padding: 5px;
}

.formicon {
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}
/* Allgemeiner Cursor-Stil für interaktive Elemente */
.formicon,
.addnewtodo {
  cursor: pointer; /* Ändert den Cursor auf einen Zeiger, wenn über das Icon gehovert wird */
  transition: transform 0.2s ease-in-out; /* Fügt einen Hover-Effekt hinzu  */
}

/* Hover-Effekt für das Formular-Icon */
.formicon:hover {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 green);
}

.formicon-clicked {
  filter: opacity(1) drop-shadow(0 0 0 green);
}

.addnewtodo:hover {
  transform: scale(1.1);
}
/* Interaktionseffekte für die Klasse "isCompleted" */
.isCompleted {
  cursor: pointer;
}
.isCompleted:hover {
  transform: scale(1.1);
}
.isCompleted:active {
  transform: scale(1.2);
}
/* Interaktionseffekte für die Klasse "deleteTodo" */
.deleteTodo {
  cursor: pointer;
}
.deleteTodo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.deleteTodo:active {
  transform: scale(1.2);
}

/* Stil für die Icons im Formular-Button-Bereich */
.form-buttons {
  float: right; /* Positioniert die Icons auf der rechten Seite */

  display: flex; /* Verwendet Flexbox für das Layout */
  gap: 4px; /* Fügt einen Abstand von 10px zwischen den Icons hinzu */
}
/* Individuelle Abstände für Tabellenzellen */
.table.custom-spacing th,
.table.custom-spacing td {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
