




<div class="container-sm mt-2" >
    <div class="row">
        <div  class="col-12 ">
    <div class="form-buttons ml-auto">


        
      <!-- Add-Icon -->
       <img class="formicon" (click)="showAddTodoForm = !showAddTodoForm" src="assets/add32.png" alt="Add Icon"  />
    
        <!-- Close-Icon -->
      </div>
    </div>
    </div>
<div class="scroll-container text-center">
    
  <div class="row mt-2 justify-content-center">
    <div row mt-1>
        
    </div>
    <div  class="col-4 ">
        
    
    <form *ngIf="showAddTodoForm" #todoForm="ngForm" (ngSubmit)="saveTodo()">
    <div class="form-group">
      <label for="label">Name:</label>
      <input type="text" id="label" name="label" class="form-control" [(ngModel)]="newTodo.label" required>
    </div>
    <div class="form-group">
      <label for="color">Category:</label>
      <select id="color" name="color" class="form-control" [(ngModel)]="newTodo.color" required>
        <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for ="points">Points:</label>
      <input type="number" id="points" name="points" class="form-control" [(ngModel)]="newTodo.points" required 
      [max]="maxTodoPoints" [min]="minTodoPoints" > 
    </div>

    

<button type="submit" class="btn btn-success mt-2" *ngIf="showAddTodoForm">Add </button>


  </form>
  
  
</div>
<table class="table table-light todo-table">
  <tbody>
    <tr>
      <th>Order</th>
      <th>Todo</th>
      <th>Points</th>
      <th>Delete</th>
  </tr>
    <tr class="spaced-row todo-table" *ngFor="let todo of todos; let i = index;">
      <th [style.color]="todo.color" scope="row">{{i+1}}</th>
      <td class="isCompleted" [style.color]="todo.color" class="{{(todo.isCompleted)?'done':''}}" (click)="done(i)">{{todo.label}}</td>
      <td [style.color]="todo.color">{{todo.points}}</td>
      <td  class="deleteTodo" style="color: red; font-weight: bold;" (click)="remove(i)">X</td>
    </tr>
  </tbody>
</table>

    
   

  </div>
  
</div>
<br>

  