/* Erlaubt den Inhalt des HTML- und Body-Elements zu scrollen */
html,
body {
  overflow: auto;
}

/*Stile für Progression-Bar                                  */
.custom-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: pink !important;
}


.green-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: #2ecc71;
}


.red-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: pink;
}


.blue-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: #3498db;
}
/* Definiert den Container für Fortschrittsbalken */
.progress-container {
  display: block;
  margin-left: 10px;
}
/* Stile für die Anzeige von Notizen und Textbereichen für Notizen */
.notes-display,
.notes-textarea {
  max-width: 250px;
  min-width: 75px;
  height: 50px;

  white-space: normal;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: scroll;
}

/*Stile für Übersichtstabellen*/
.table {
  table-layout: fixed;
}
.table-responsive {
  overflow-x: auto;
}

.deleteIcon:hover {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 red);
}
.deleteIcon-clicked {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}


/*Icons für Seitenumnierung*/
.Pagnierungs-icons {
  filter: opacity(0.7) drop-shadow(0 0 0 green);
}
.Paginierung-icons:hover {
  transform: scale(1.1);
  filter: opacity(1) drop-shadow(0 0 0 green);
}
.Paginierung-icons:active {
  transform: scale(1.1);
  filter: opacity(1) drop-shadow(0 0 0 green);
}
