/* Erlaubt den Inhalt des HTML- und Body-Elements zu scrollen */
html,
body {
  overflow: auto;
}

/* Definiert einen benutzerdefinierten Fortschrittsbalken mit einer rosafarbenen Füllung */
.custom-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: pink !important;
}

/* Definiert einen grünen Fortschrittsbalken */
.green-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: #2ecc71;
}

/* Definiert einen roten Fortschrittsbalken */
.red-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: pink;
}

/* Definiert einen blauen Fortschrittsbalken */
.blue-progress-bar ::ng-deep .mat-progress-bar-fill::after {
  background-color: #3498db;
}
/* Definiert den Container, der den Fortschrittsbalken enthält */
.progress-container {
  display: block;
  margin-left: 10px;
}
/* Stile für die Anzeige von Notizen und Textbereichen für Notizen */
.notes-display,
.notes-textarea {
  max-width: 250px;
  min-width: 75px;
  height: 50px;

  white-space: normal;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: scroll;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  table-layout: fixed;
}

.deleteIcon:hover {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 red);
}
.deleteIcon-clicked {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

.table-hover tbody tr:hover {
  background-color: blue;
}

.table-hover tbody tr.active-row {
  background-color: blue;
}

.active-row {
  background-color: blue !important;
}

table tbody tr.active-row {
  background-color: #f5f5f5;
}

table.table tbody tr.active-row {
  background-color: blue !important;
}

.Pagnierungs-icons {
  filter: opacity(0.7) drop-shadow(0 0 0 green);
}
.Paginierung-icons:hover {
  transform: scale(1.1);
  filter: opacity(1) drop-shadow(0 0 0 green);
}
.Paginierung-icons:active {
  transform: scale(1.1);
  filter: opacity(1) drop-shadow(0 0 0 green);
}
