<!-- Hauptcontainer für die Anzeige der Punktestände -->
<div class="container-sm text-center maincontainer">
  <div class="row">
    <!-- Spalte für grüne Punkte -->
    <div class="col-4">
      <div class="icon-text-container center-score">
        <span style="color: green; font-weight: bold; font-size: 125%">{{ greenPoints
        }}</span>
        <!-- Icon "Brain" von Freepik, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/brain_882998 -->
        <img src="/assets/brain24.png" alt="Brain icon" title="https://www.flaticon.com" />
      </div>
    </div>
    <!-- Spalte für rote Punkte -->
    <div class="col-4">
      <div class="icon-text-container center-score">
        <span style="color: red; font-weight: bold">{{ redPoints }}</span>
        <!-- Icon "Like" von Andrean Prabowo, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/like_3756484 -->
        <img src="/assets/hearth.svg" alt="Hearth icon" title="https://www.flaticon.com" />
      </div>
    </div>
    <!-- Spalte für blaue Punkte -->
    <div class="col-4">
      <div class="icon-text-container center-score">
        <span style="color: blue; font-weight: bold">{{ bluePoints }}</span>
        <!-- Icon "Process" von Aranagraphics, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/process_10319224 -->
        <img src="/assets/light.svg" alt="Bulb Icon" title="https://www.flaticon.com" />
      </div>
    </div>
  </div>
</div>