
<div class="container-sm text-center mt-5">
    <div class="row mt-3">
      <div class="col-4">
        
        <div class="icon-text-container center-score">
          <span style="color:green; font-weight: bold; font-size: 125%;">{{greenPoints}}</span>
            <img src="/assets/brain24.png" alt="Custom Icon" title="https://www.flaticon.com">
            
          </div>
          
    
    </div>
  
      <div class="col-4">

        <div class="icon-text-container center-score">
          <span style="color:red; font-weight: bold;" >{{redPoints}}</span>
            <img src="/assets/hearth.svg" alt="Custom Icon" title="https://www.flaticon.com">
            
          </div>
       
      </div>
      <div class="col-4">

        <div class="icon-text-container center-score">
             <span style="color:blue; font-weight: bold;">{{bluePoints}}</span>
             <img src="/assets/light.svg" alt="Custom Icon" title="https://www.flaticon.com">

            
            
          </div>
        
      </div>
    </div>
  </div>
  
  
  