/* Gemeinsame Regeln für .scroll-container und .big-window */
.scroll-container{
  max-height: 270px;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.activity-image:hover{
  transform: scale(1.1);
  }

.activity-image:active{
animation: vibrate 0.2s ease 0.3; /* Adjust the animation duration and timing */
}

/* Gemeinsame Regeln für .icon-container, .activity-card img:not(.noborder), .activity-card svg:not(.icon), .big-window img:not(.noborder), .big-window svg:not(.icon) */
.icon-container,
.activity-card img:not(.noborder),
.activity-card img:not(.activity),
.activity-card img:not(.isHovered),

.activity-card svg:not(.icon),

.big-window img:not(.noborder),
.big-window svg:not(.icon) 

{
  border-radius: 50%;
  border: 4px solid #ccc ;
  padding: 5px ;
}


.hovered {
  border-color: gold !important; /* Ändern Sie die Border-Farbe auf Gold */
  border-width: 4px !important;
}



/* CSS für .big-window */
.big-window {
  padding: 20px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* CSS für Bilder innerhalb der Karte */
.big-window img {
  max-width: 100%;
  height: auto;
}

/* CSS für den Schließen-Button */
.close-button {
  padding: 10px 15px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-bigwindow-icon{
  cursor: pointer;
  text-align: end;
  margin-top: -11px;
  margin-right: -7px;
  
}



/* SCSS in Ihrer activitys.component.scss-Datei oder Ihrem Stylesheet */
.hidden-checkbox {
  position: absolute;
  left: -9999px; /* Checkbox außerhalb des sichtbaren Bereichs verschieben */
}

.checkbox-label {
  cursor: pointer;
  text-align:end;

  .checkbox-custom {
    /* Stil für das benutzerdefinierte Icon */
    width: 24px; /* Beispiel für eine CSS-Deklaration */
    height: 24px; /* Beispiel für eine CSS-Deklaration */
  }

  /* Stil für das benutzerdefinierte Icon, wenn die Checkbox aktiviert ist */
  #infoCheckbox:checked + & .checkbox-custom {
    /* Stil für das aktivierte Icon */
    color: blue; /* Beispiel für eine CSS-Deklaration */
  }
}

.infoCheckboxIcon{
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}
.infoCheckbox-clicked {
  filter: opacity(1.0) drop-shadow(0 0 0 green);
}

.neue-klasse:hover{
  filter: hue-rotate(180deg);
  transform-origin: center;
  transform: scale(1.1);
}


@keyframes vibrate {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-2px, -2px); }
  20% { transform: translate(2px, -2px); }
  30% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, 2px); }
  50% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, -2px); }
  70% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, 2px); }
  90% { transform: translate(-2px, -2px); }
}




.create-activity-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.create-activity-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
}

 