/* Stilregeln für  versteckte Checkboxes */
.hidden-checkbox {
  position: absolute;
  left: -9999px; /* Checkbox außerhalb des sichtbaren Bereichs verschieben */
}

.checkbox-label {
  cursor: pointer;
  text-align: end;

  .checkbox-custom {
    width: 24px;
    height: 24px;
  }

  /* Stil für das benutzerdefinierte Icon, wenn die Checkbox aktiviert ist */
  #infoCheckbox:checked + & .checkbox-custom {
    color: blue;
  }
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

.checkbox-label {
  cursor: pointer;
  text-align: end;

  .checkbox-custom {
    width: 24px;
    height: 24px;
  }

  /* Stil für das benutzerdefinierte Icon, wenn die Checkbox aktiviert ist */
  #infoCheckbox:checked + & .checkbox-custom {
    color: blue;
  }
}

.infoCheckboxIcon {
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}
.infoCheckbox-clicked {
  filter: opacity(1) drop-shadow(0 0 0 green);
}

/* Stil für das Info-Checkbox-Icon */
.infoCheckboxIcon {
  filter: opacity(0.3) drop-shadow(0 0 0 yellow);
}
.infoCheckboxIcon:hover {
  transform: scale(1.1);
  filter: opacity(0.8) drop-shadow(0 0 0 yellow);
}
.infoCheckbox-clicked {
  filter: opacity(1) drop-shadow(0 0 0 yellow);
}

/* Stil für Add Checkbox-Icon */
.addCheckboxIcon {
  filter: opacity(0.3) drop-shadow(0 0 0 green);
}
.addCheckboxIcon:hover {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 green);
}

.addCheckbox-clicked {
  filter: opacity(1) drop-shadow(0 0 0 green);
  border: 5x solid black;
  border-radius: 50px;
}

//icons style
.deleteCheckboxIcon {
  filter: opacity(0.3) drop-shadow(0 0 0 red);
}
.deleteCheckboxIcon:hover {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 red);
}
.deleteCheckbox-clicked {
  filter: opacity(1) drop-shadow(0 0 0 red);
}

/* Scroll-Container mit Aktivitätenliste */
.scroll-container {
  max-height: 270px;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

/* Hover-Effekt für Aktivitätsbilder */
.activity-image:hover {
  transform: scale(1.1);
}

/* Effekt für die ausgewählte Aktivität  */
.activity-image:active {
  animation: vibrate 0.2s ease 0.3;
}

/* Allgemeine Stilregeln für diverse Klassen mit Bildern und SVGs */
.icon-container,
.activity-card img:not(.noborder),
.activity-card img:not(.activity),
.activity-card img:not(.isHovered),
.activity-card svg:not(.icon),
.big-window img:not(.noborder),
.big-window svg:not(.icon) {
  border-radius: 50%;
  border: 4px solid #ccc;
  padding: 5px;
}
/* Stil für das gehoverte Element */
.hovered {
  border-color: gold !important;
  border-width: 4px !important;
}

/* Info-Popup für ausgewählte Aktivitäte */
.big-window {
  padding: 20px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Stilregeln für Bilder in Big-Window */
.big-window img {
  max-width: 100%;
  height: auto;
}

/* Stilregeln für den Schließen-Button */
.close-button {
  padding: 10px 15px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Stilregeln für das Schließen-Icon */
.close-bigwindow-icon {
  cursor: pointer;
  text-align: end;
  margin-top: -11px;
  margin-right: -7px;
}

.unhover-icon {
  cursor: pointer;
}

.unhover-icon:hover {
  filter: opacity(0.7) drop-shadow(0 0 0 red);
}

.create-activity-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.create-activity-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
}

/* Gemeinsame Regeln für .scroll-container und .big-window */
.scroll-container {
  max-height: 270px;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.activity-image {
  cursor: pointer;
}
.activity-image:hover {
  transform: scale(1.1);
}

.activity-image:active {
  animation: vibrate 0.2s ease 0.3;
}

/* Gemeinsame Regeln für .icon-container, .activity-card img:not(.noborder), .activity-card svg:not(.icon), .big-window img:not(.noborder), .big-window svg:not(.icon) */
.icon-container,
.activity-card img:not(.noborder),
.activity-card img:not(.activity),
.activity-card img:not(.isHovered),
.activity-card svg:not(.icon),
.big-window img:not(.noborder),
.big-window svg:not(.icon) {
  border-radius: 50%;
  border: 4px solid #ccc;
  padding: 5px;
}

.hovered {
  border-color: gold !important;
  border-width: 4px !important;
}

.create-activity-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.create-activity-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
}

/* Content für Ausgewählte Aktivitäten */
.big-window {
  padding: 20px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.big-window {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 70%;
  transform: translateX(-50%); /* Zentriert das Element horizontal */
  z-index: 1000;
}

/* CSS für Bilder innerhalb der Karte */
.big-window img {
  max-width: 100%;
  height: auto;
}

/* CSS für den Schließen-Button */
.close-button {
  padding: 10px 15px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-bigwindow-icon {
  cursor: pointer;
  text-align: end;
  margin-top: -11px;
  margin-right: -7px;
}

@keyframes vibrate {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  90% {
    transform: translate(-2px, -2px);
  }
}
