.nav-link:hover img {
    transform: scale(1.20); 
}

/* Active (Klick) Effekt */
.nav-link:active img {
    transform: scale(1.10); 
}
.active-icon  {
    transform: scale(1.50); 
    background-color: #FFF5E1;
    
   
}

.content {
    padding-bottom: 60px; 

}
.navbar.sticky-top {
    z-index: 1030; 
  }

.navbar-container{
 background-color:#D1BFA3 !important
}
