.nav-link:hover img {
  transform: scale(1.2);
}

/* Active (Klick) Effekt */
.nav-link:active img {
  transform: scale(1.1);
}
.active-icon {
  transform: scale(1.5);
  background-color: #fff5e1;
}

.content {
  padding-bottom: 60px;
}
.navbar.sticky-top {
  z-index: 1030;
}

.navbar-container {
  background-color: #d1bfa3 !important;
}
