<div class="content">
  <router-outlet></router-outlet>
</div>
<!--Bottom Navigation-->
<div class="container navbar-container sticky-botom">
  <nav style="background-color: #bfd8ad !important" class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light justify-content-center">
    <ul class="nav justify-content-center m">
      <!-- Navigationspunkt für die Homepage -->
      <li class="nav-item px-3">
        <a class="nav-link active" href="#" routerLink="/home" routerLinkActive="active-icon">
          <!-- Icon 'Home' von Freepik, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/home_1946488 -->
          <img src="assets/home32.png" alt="Home Icon" width="20" height="20" />
        </a>
      </li>
      <!-- Navigationspunkt für die Moods-Seite -->
      <li class="nav-item px-3">
        <a class="nav-link" href="#" routerLink="/moods" routerLinkActive="active-icon">
          <!-- Icon 'Happiness' von Freepik, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/happiness_907717 -->
          <img src="assets/smile32.png" alt="smile icon" alt="Moods Icon" width="20" height="20" />
        </a>
      </li>
      <!-- Navigationspunkt für die Activitys-Seite -->
      <li class="nav-item px-3">
        <a class="nav-link" href="#" routerLink="/activitys" routerLinkActive="active-icon">
          <!-- Icon 'Activity' von Ferdinand, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/activity_9345245 -->
          <img src="assets/activity32.png" alt="Activitys Icon" width="20" height="20" />
        </a>
      </li>
      <!-- Navigationspunkt für die Progression-Seite -->
      <li class="nav-item px-3">
        <a class="nav-link" href="#" routerLink="/progression" routerLinkActive="active-icon">
          <!-- Icon 'Signal' von nahumam, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/signal_7131854 -->
          <img src="assets/progression32.png" alt="Progression Icon" width="20" height="20" />
        </a>
      </li>
    </ul>
  </nav>
</div>