/* Stilvorgaben für das HTML-Element und den Body (gesamte Seite) */
html,
body {
  height: 100%; /* Setzt die Höhe auf die gesamte Bildschirmhöhe */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Zusätzliche Stilvorgaben nur für den Body */
body {
  width: 100wh;
}
/* Stilvorgaben für die Stimmungsbilder */
.mood-image {
  border: 8px solid #fff5e1;
  border-radius: 50px;
  cursor: pointer;
}
/* Hover-Effekte für die Stimmungsbilder */
.mood-image:hover {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 white);
}

.mood-image:active {
  transform: scale(1.1);
  filter: opacity(0.7) drop-shadow(0 0 0 white);
}
/* Stil für ausgewählte Stimmungsbilder */
.selected-mood {
  border: 8px solid gold !important; /* Ändert die Randfarbe der ausgewählten Stimmungsbilder */
  border-radius: 50px !important;
}
/* Container für die Vorschläge basierend auf der ausgewählten Stimmung */
.suggestions-container {
  margin-top: 10px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); //  sorgt für die Zentrierung

  padding: 1em;
  border-radius: 8px;
  z-index: 10;
  max-width: 90%;
}
/* Styling des Tipps-Containers, der Vorschläge und das Tipp-Icon anzeigt */
.tip-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tip-text {
  margin: 0;
}
