<html>
  <!-- Hauptüberschrift: Frage nach der aktuellen Stimmung -->
  <h1 class="mt-5 text-center">What's Your Mood Right Now?</h1>
  <!-- Hauptcontainer für die Stimmungsauswahl -->
  <div class="container-sm text-center overflow-hidden">
    <!-- Reihe für die Darstellung der Stimmungen -->
    <div class="row mt-5">
      <!-- Wiederholte Spalten für jede Stimmung. Der *ngFor-Direktive wird verwendet, um durch das Array "moods" zu iterieren -->
      <div class="col-4" *ngFor="let mood of moods">
        <!-- Ein Klick auf das Stimmungsbild wechselt dessen Auswahlstatus -->
        <div class="mood" (click)="toggleMoodSelection(mood)">
          <!-- Das Stimmungsbild. Der Pfad wird aus dem mood-Objekt geholt. -->
          <!-- Die Klasse "selected-mood" wird hinzugefügt, wenn die Stimmung ausgewählt ist. -->
          <img
            [src]="mood.img"
            class="img-fluid mb-2 mood-image mt-2"
            [class.selected-mood]="mood.isSelected"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Container für Vorschläge basierend auf der ausgewählten Stimmung -->
  <div class="container-sm suggestions-container">
    <div class="row sm-3">
      <div class="col-8">
        <!-- Zeigt einen zufälligen Vorschlag, wenn die Stimmung "Sad" ist -->
        <div class="tip-container" *ngIf="isMoodSelected('Sad')">
          <img style="float: lef" src="./assets/tip.png" alt="tip icon" />
          <p class="tip-text font-italic">{{ sadSuggestion }}</p>
        </div>
        <!-- Zeigt einen zufälligen Vorschlag, wenn die Stimmung "Tired" ist -->
        <div class="tip-container" *ngIf="isMoodSelected('Tired')">
          <img src="./assets/tip.png" alt="tip icon" />
          <p class="tip-text font-italic">{{ tiredSuggestion }}</p>
        </div>
        <!-- Zeigt einen zufälligen Vorschlag, wenn die Stimmung "Unproductive" ist -->
        <div class="tip-container" *ngIf="isMoodSelected('Unproductive')">
          <img src="./assets/tip.png" alt="tip icon" />
          <p class="tip-text font-italic">{{ unproductiveSuggestion }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-scores></app-scores>
</html>
