/* Global styles */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #fff5e1;
}

.navbar-container {
  background-color: #d1bfa3 !important;
}

.todo-table {
  background-color: aqua !important;
}
