<html>
  <!-- Hauptcontainer -->
  <div class="container-sm  ">
    <!-- Begrüßungsabschnitt -->
    <div class="greeting-container mt-2 ">
      <h1>{{ greeting }}</h1>
      <img [src]="iconPath" alt="Greeting Icon">
    </div>
    <!-- Reihe für Informationskarten -->
    <div class="row">
      <div class="col-lg-4 col-6 mt-1">
        <div class="info-card " [style.background-image]="'url(' + selectedImageUrl + ')'">
          <h3>{{selectedContent.title}}</h3>
          <p>{{selectedContent.message}}</p>
          <!-- Klickbares Play-Icon, öffnet die Atemmeditation -->
          <!-- Icon "Play" von judanna, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/play_10109952 -->
          <img src="assets/play32.png" alt="Play Icon" (click)="openModal()" class="clickable-icon" />
        </div>
      </div>
      <!-- Rechte Informationskarte (mit eingebettetem Youtube Video) -->
      <div class="col-lg-4 col-6 mt-1">
        <div class="info-card">
          <div style="height:50px; z-index:  1000;">
            <p style=>Daily practices</p>
          </div>
          <!-- Eingebettetes Youtube Video --->
          <iframe [src]="selectedVideoUrl | safeUrl" width="100%" height="250px" frameborder="0" seamless="seamless" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" allowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Meditations-Modal-Struktur -->
  <!--Keefe, Lan. 2017."Unsplash. https://unsplash.com/de/fotos/NBQhCKtg_9Y-->
  <div class="modal-background" [ngStyle]="{ 'visibility': isModalOpen ? 'visible' : 'hidden', 'opacity': isModalOpen ? '1' : '0', 'backgroundColor': isModalOpen ? 'rgba(0, 0, 0, 0.7)' : 'rgba(0, 0, 0, 0)' }">
    <!-- Modal-Inhalt -->
    <div class="modal-content">
      <!-- Icon "Delete Button" von hqrloveq, lizenziert durch Flaticon, erhältlich auf https://www.flaticon.com/free-icon/delete-button_5974771 -->
      <button class="close-icon" (click)="closeModal()">
        <!-- Schließen-Button für das Modal -->
        <img src="assets/close24.png" alt="close icon">
      </button>
      <app-meditationsexercise></app-meditationsexercise>
    </div>
  </div>
  <!-- Todo-Liste Komponente -->
  <app-todo-list></app-todo-list>
  <!-- Scores-bereich -->
  <div class="container-fluid d-flex flex-wrap     ">
    <!-- Mentale-Punktekarte -->
    <div class="col-sm-4 flex-grow-1">
      <div class="card text-white bg-success text-center mx-auto home-card">
        <div class="card-header">Mental</div>
        <div class="card-body">
          <!-- Icon "Brain" von Freepik, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/brain_882998 -->
          <img src="assets/brain32.png" alt="Brain icon" title="https://www.flaticon.com" />
          <h5 class="card-title">{{greenPoints}}</h5>
        </div>
      </div>
    </div>
    <!-- Physische-Punktekarte -->
    <div class="col-sm-4 flex-grow-1">
      <div class="card text-white bg-danger text-center mx-auto home-card">
        <div style="font-size:80%" class="card-header">Physical</div>
        <div class="card-body">
          <!-- Icon "Like" von Andrean Prabowo, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/like_3756484 -->
          <img src="assets/hearth32.png" alt="Hearth icon" title="https://www.flaticon.com" />
          <h5 class="card-title">{{redPoints}}</h5>
        </div>
      </div>
    </div>
    <!-- Produktivitäts-Punktekarte -->
    <div class="col-sm-4 flex-grow-1">
      <div class="card text-white bg-info text-center mx-auto home-card">
        <div style="font-size:80%" class="card-header">Productivity</div>
        <div class="card-body">
          <!-- Icon "Process" von Aranagraphics, lizenziert durch Flaticon, Lizenznehmer: user92498310, erhältlich auf https://www.flaticon.com/free-icon/process_10319224 -->
          <img src="assets/light32.png" alt="Bult icon" title="https://www.flaticon.com" />
          <h5 class="card-title">{{bluePoints}}</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
</html>