<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div
        class="card text-white bg-success mb-3 text-center mx-auto"
        style="max-width: 15rem"
      >
        <div class="card-header">Header</div>
        <div class="card-body">
          <img src="assets/brain32.png" alt="brain icon" />
          <h5 class="card-title">55</h5>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div
        class="card text-white bg-success mb-3 text-center mx-auto"
        style="max-width: 15rem"
      >
        <div class="card-header">Header</div>
        <div class="card-body">
          <img src="assets/hearth32.png" alt="brain icon" />
          <h5 class="card-title">55</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div
        class="card text-white bg-success mb-3 text-center mx-auto"
        style="max-width: 15rem"
      >
        <div class="card-header">Header</div>
        <div class="card-body">
          <img src="assets/light32.png" alt="brain icon" />
          <h5 class="card-title">55</h5>
        </div>
      </div>
    </div>
  </div>
</div>


