

<app-todo-list></app-todo-list>
<br>
<br>
<br>




<div class="container-fluid d-flex flex-wrap">
  <div class="col-sm-4 flex-grow-1">
    <div class="card text-white bg-success text-center mx-auto" style="max-width: 15rem;">
      <div class="card-header">Mental</div>
      <div class="card-body">
        <img src="assets/brain32.png" alt="brain-icon" title="https://www.flaticon.com" />
        <h5 class="card-title">{{greenPoints}}</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4 flex-grow-1">
    <div class="card text-white bg-danger text-center mx-auto" style="max-width: 15rem;">
      <div class="card-header">Physical</div>
      <div class="card-body">
        <img src="assets/hearth32.png" alt="heart-icon" title="https://www.flaticon.com" />
        <h5 class="card-title">{{redPoints}}</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4 flex-grow-1">
    <div class="card text-white bg-info text-center mx-auto" style="max-width: 15rem;">
      <div class="card-header">Productivity</div>
      <div class="card-body">
        <img src="assets/light32.png" alt="bulb-icon" title="https://www.flaticon.com" />
        <h5 class="card-title">{{bluePoints}}</h5>
      </div>
    </div>
  </div>
</div>






